

        
        <div class=" bg-teal-50 m-auto mt-8 w-[80%] rounded-lg border-2 shadow-md shadow-black min-h-[80%] min-w-[250px] " style="border-color: #2A326C;">

          <div class="card ">
            <h4 class="text-blue-700 text-bold flex justify-center mt-4 text-5xl sm:text-8xl"><span class="text-slate-600 font-sans">TO·</span> DO</h4>
          </div>
          <div class="flex flex-col">
            <div class="grid w-full mt-3 mb-3 justify-center sm:inline-flex ">
                  <input type="text" id="first_name" class="placeholder:text-slate-500  bg-white w-[90%] m-auto sm:mr-1 rounded-md py-3 px-3 text-slate-700 border-2 border-slate-700 sm:w-[50%]" placeholder="Enter New Task" [formControl]="newTodo" (keydown.enter)="addTodo()"/>
                  <button type="button" class="text-white border-2 border-slate-200 font-bold rounded-md bg-blue-500 hover:bg-blue-700 w-auto mb-4 mt-3 sm:mx-auto sm:px-3 sm:py-3" (click)="addTodo()">Add Task</button>
            </div>  

            <div class="inline-flex mx-auto w-full justify-center mb-2">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mr-2 rounded-lg px-3 py-2" (click)="changeFilter('all')" [class.active]="filter() === 'all'">All</button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold ml-1 rounded-lg px-3 py-2" (click)="changeFilter('completed')" [class.active]="filter() === 'completed'">Completed</button>

            </div><hr>

            

            <div class="todoList overflow-y-auto h-auto">
                @for(todo of todoListFiltered(); track todo.id){

                    @if(todo.editing){
                        <div class="md: todo-editing mt-4">
                            <input type="text" placeholder="Editar tarea" [value]="todo.title" (keydown.enter)="saveEditing(todo.id,$event)">
                        </div>
                    }

                    <div class="grid justify-center w-full sm:inline-flex sm:mb-2 sm:mt-2">
                        <div class="text-center w-full mb-2 mt-2 sm:w-[50%]">{{todo.title}}</div>
                        <div class="w-auto justify-center mx-auto sm:content-center">
                          <button class="bg-[#006d46] hover:bg-[#00986c] text-white font-bold justify-center px-2 py-2 mx-auto mr-1 gap-1 rounded" (click)="editTask(todo.id)">Edit Task</button>
                          <button class="bg-red-500 hover:bg-red-600 text-white font-bold justify-center px-2 py-2 mx-auto ml-1 rounded" (click)='removeTodo(todo.id)'>Delete</button>
                        </div>
       
                        <div class=" justify-center mx-auto inline-flex mt-2 mb-2 sm:ml-1 sm:grid">
                          <label for="completado" class=" justify-center mx-auto" >Check for completed</label><br>
                          <input id="completado" type="checkbox" [checked]="todo.completed" (click)="toggleTodo(todo.id)" class="ml-3 sm:mt-0">
                        </div>
                    </div>
                    <hr>
       
                }

              </div>
          </div>
        </div>

